.info_wrapper::before {
    background: linear-gradient(180deg, #ED9C23 0%, rgba(237, 242, 247, 0) 100%);
    width: 803px;
    height: 792px;
    top: -394px;
    right: -394px;  
    position: absolute;
    content: "";
    border-radius: 100%;
    transform: rotate(213deg);
    opacity: .9;


}
.info_wrapper {
    background: rgba(238, 114, 37, 1);
}
.cardWidth {
    max-width: 525px;
    width: 100%;
}

.cardWidth {
    max-width: 525px;
    width: 100%;
}

.carousal_card {
    display: flex;
}

.carousal_card {
    border-radius: 10px;
    background: var(--bs-white);
}

.carousal_content {
    padding: 32px 10px 30px 42px;
}

.area_info {
    bottom: -42px;
    right: 0;
    padding: 14px 7px;
    background: rgba(247, 250, 252, 1);
    border: 1px solid rgba(178, 178, 178, 0.5);
    border-radius: 10px;
}


.area_content h6 {
    font-family: 'Public Sans';
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    color: rgba(63, 62, 62, 1);
}

.carousal_content p {
    font-family: 'Public Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: rgba(113, 128, 150, 1);
}

.carousal_image {
    flex: 0 0 213px;
    width: 213px;
    padding-top: 4rem;
}


.carousal_content h4 {
    font-family: 'Public Sans';
    font-weight: 700;
    font-size: 30px;
    line-height: 30.95px;
    color: var(--primary-color);
}


.area_information {
    padding-top: 6rem;
    text-align: center;
    max-width: 317px;
    margin: auto;
}

.area_information h4 {
    font-family: 'Public Sans';
    font-weight: 600;
    font-size: 28px;
    line-height: 25px;
}

.area_information p {
    font-family: 'Public Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 23.24px;
    text-align: center;
}
.login_form {
    width: 100%;
    padding-left: 5.875rem;
    margin-left: auto;
    padding-right: 3rem;
    text-align: left;
}
.area_content h5 {
    font-weight: 700;
    color: rgba(63, 62, 62, 1);
}
.forgetPass{
font-weight: 500;
}
.login_form h1 {
    color: var(--heading-color);
    font-family: 'Public Sans';
    font-weight: 700;
    font-size: 33px;
    line-height: 40px;
    margin-top: 1.5rem;
}
.login_form p {
    color: var(--label-color);
    font-weight: 400;
}
span.view_pass {
    position: absolute;
    right: 9px;
    bottom: 6px;
    border-left: 1px solid #ddd;
    padding: 6px;
    padding-left: 13px;
}

/*  */
.login_form p {
    color: var(--label-color);
    font-weight: 400;
}

.cmn_input input {
    border: 1px solid rgba(203, 213, 224, 1);
    box-shadow: 0px 2px 0px 0px rgba(231, 235, 238, 0.2) inset;
    background: rgba(247, 250, 252, 1);
    height: 47px;
}

.cmn_input label, .form-check label {
    font-size: 16px;
    color: var(--label-color);
    font-weight: 500;
}
.cmn_input input:focus, .form-check-input[type=checkbox]:focus {
    outline: unset;
    box-shadow: unset;
    border: 1px solid var(--primary-color);
}
.form-check-input[type=checkbox] {
    border-radius: .25em;
    appearance: auto;
    accent-color: var(--primary-color);
    color: #fff;
}
/*  */
/*  */