.btn-small {
    padding: 0px 12px;
  height: 40px;
  }
  
  .btn-medium {
    padding: 0px 2rem;
    height: 44px;
  }
 .btn-xs{
  padding: 0px 1rem;
  height: 35px;
  min-width: 66px;
 } 
.cmn_btn.grey_btn{
  border: 1px solid rgba(224, 226, 231, 1);
  background: rgba(255, 255, 255, 1);
  font-family: 'Public Sans';
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  height: 40px; 
  padding: 0px 12px;
  border-radius: 8px;
  min-width: 43px;
  text-align: center;
  color: rgba(102, 112, 133, 1);
  
}
.borderredBtn.cmn_btn{
  background: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}
.cmn_btn {
    border: 1px solid transparent;
    background: var(--primary-color);
    border: unset;
    color: var(--bs-white);
    font-family: Public Sans;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    border-radius: 8px;
  }
  .cmn_btn .spinner-border {
    width: 16px;
    height: 16px;
}
.noTitleBtn.cmn_btn {
  background: transparent;
  border: 1px solid var(--primary-color);
  padding: 5px;
  min-width: 34px;
  height: 34px;
}