.create_password {
    padding: 2rem;
    background: #fff;
    max-width: 650px;
    width: 100%;
    box-shadow: 0px 4px 16px 0px #0000001A;
    border-radius: 15px;
}

.create_password .login_form {
    padding: 0;
}
.password_confirmed {
    padding: 1rem;
}

.confirm_image {
    margin-bottom: 14px;
}

.password_confirmed h4 {
    font-weight: 500;
    font-size: 19.61px;
    line-height: 23.73px;
    color: #4A4A4A;
    text-align: center;
}

.password_confirmed h3 {
    font-weight: 300;
    font-size: 19.61px;
    line-height: 32.78px;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Public Sans';
    color: #4A4A4A;
}